/Ejercicio01/nbproject/private/
/Ejercicio01/build/
/Ejercicio02/nbproject/private/
/Ejercicio02/build/
/Ejercicio03/nbproject/private/
/Ejercicio03/build/
/Ejercicio03/dist/
/Ejercicio04/nbproject/private/
/Ejercicio07/nbproject/private/